// FONT 
$font: 'Be Vietnam', sans-serif;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

// COLORS
$bright-red: #f25f3a;
$dark-blue: #242d52;
$dark-grayish-blue: #9095a7;
$very-dark-blue: #1d1e25;
$very-pale-red: #ffefeb;
$vary-light-gray: #fafafa;